{% extends "demo/base_two_pane.html" %}

{% block title %}Start{% endblock %}

{% block heading %}An Introduction to Artificial Intelligence{% endblock %}

{% block next_url %}{% url 'demo:student_plot' %}{% endblock %}
{% block next_class %}{% endblock %}

{% block left_pane %}
    <div style="padding: 20px;">
        <h2>Objectives</h2>
        <ul>
            <li>Learn some AI concepts (10 slides)</li>      
            <li>Explore how to incoporate AI concepts in the class</li>
        </ul>
    </div>
{% endblock %}

{% block right_pane %}
    <div style="padding: 20px;">
        <h2>What You'll Learn</h2>
        <ul>
            <li><b>Classification</b></li>
            <li>What is a neural net</li>
            <li>Similarity</li>
            <li>What is a token</li>
            <li>How does ChatGPT work</li>
        </ul>
    </div>
{% endblock %}
